<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
          <img src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2Fstock-img.gif?alt=media&token=1997897f-2d9c-4e72-9689-8a5559db2b7e" class="img-fluid story-img" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h2>Our Success Story</h2>
          <p class="fst-italic">
            Being Strategic, Our developer is sufficiently skilled to trick the software and have the necessary programming and well back testing capacity.

We aimed to furnish consistent access to market participants with secure and straightforward innovation solutions. We are capable with the trading software and programming of strategies. We execute our work with professional staff who  
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> Automated Trading</li>
            <li><i class="bi bi-check-circle"></i> Strategy development</li>
            <li><i class="bi bi-check-circle"></i> MQL Development</li>
          </ul>
        </div>
      </div>

      

    </div>
  </section>
  