<!--Main Navigation-->
<div class="admin-wrapper">
  <header>
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
        <div class="custom-menu">
          <div class="list-group list-group-flush mt-4">
            <a class="list-group-item list-group-item-action py-2 ripple" aria-current="true" (click)="launchWebPortal()">
              <img class="admin-menu-icon" src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2FanimatedIcon%2Fapp_launch.gif?alt=media&amp;token=797e3cf3-e0f2-4bf7-9a0a-327a6f7584f8"/>
              <span>Launch Almighty</span>
            </a>
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/admin"[ngClass]="{'active': isSelected === 'news'}" (click)="isSelected='news';">
              <img class="admin-menu-icon" src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2FanimatedIcon%2Fnewspaper.gif?alt=media&token=a1f59d46-83f9-4825-b458-6d80b7380ed8"/>
              <span>News</span></a>
            <a class="list-group-item list-group-item-action py-2 ripple" routerLink="/admin/pricing" [ngClass]="{'active': isSelected === 'Pricing'}" (click)="isSelected='Pricing';">
              <img class="admin-menu-icon" src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2FanimatedIcon%2Fprice-tag.gif?alt=media&token=7f6343c8-a4c8-4ee1-878c-959aebb8b9ab"/>
              <span>Pricing</span></a>
            <a class="list-group-item list-group-item-action py-2 ripple"  routerLink="/admin/services" [ngClass]="{'active': isSelected === 'Services'}" (click)="isSelected='Services';">
              <i class="fa fa-calendar fa-fw me-3"></i><span>Services</span></a>
            <a class="list-group-item list-group-item-action py-2 ripple" [ngClass]="{'active': isSelected === 'Users'}" (click)="isSelected='Users';">
                <i class="fa fa-users fa-fw me-3"></i><span>Users</span></a>
          </div>
        </div>
      </nav>
      <!-- Sidebar -->
    
      <!-- Navbar -->
      <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top m-0 p-0">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
    
          <!-- Brand -->
          <a class="navbar-brand" href="#">
            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="25" alt="MDB Logo"
              loading="lazy" />
          </a>
          <!-- Search form 
          <form class="d-none d-md-flex input-group w-auto my-auto">
            <input autocomplete="off" type="search" class="form-control rounded"
              placeholder='Search (ctrl + "/" to focus)' style="min-width: 225px;" />
            <span class="input-group-text border-0"><i class="fa fa-search"></i></span>
          </form>-->
    
          <!-- Right links -->
          <ul class="navbar-nav ms-auto d-flex flex-row">
            <!-- Notification dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" id="navbarDropdownMenuLink"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#">Some news</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another news</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
    
            <!-- Icon -->
            <li class="nav-item">
              <a class="nav-link me-3 me-lg-0" href="#">
                <i class="fa fa-fill-drip"></i>
              </a>
            </li>
            <!-- Icon -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#">
                <i class="fab fa-github"></i>
              </a>
            </li>
    
            <!-- Icon dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" id="navbarDropdown"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <i class="united kingdom flag m-0"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English
                    <i class="fa fa-check text-success ms-2"></i></a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
                </li>
              </ul>
            </li>
    
            <!-- Avatar -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                  height="22" alt="Avatar" loading="lazy" />
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="#">My profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Settings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->
    
    <!--Main layout-->
    <main style="margin-top: 58px;">
      <div class="container pt-4">
          <router-outlet></router-outlet>
      </div>
    </main>
  <!--Main layout-->
</div>