$animationSpeed: 40s;

.vl {
	border-left: 1px solid #cdea9a;
	height: 80px;
	margin-top: 10px;
  }

  .wrapper{
	display: flex;
  }
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 10))}
}

// Styling
.slider {
	background: #191919;
	border-bottom: 2px solid #b41111;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	overflow:hidden;
	position: relative;
	
	&::before,
	&::after {
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
		padding: 5px;
		span{
			font-size: 14px;
			color: #fff;
			font-family: "Raleway", sans-serif;
		}
	}
}