<section id="why-us" class="why-us">
    <div class="container">
      <div class="section-title">
        <span>Why Us?</span>
        <h2>Why Us?</h2>
      </div>
      <div class="row">

        <div class="col-lg-4" data-aos="fade-up">
          <div class="box">
            <span>Automated Trading</span>
            <p>We can turn exact passage, exit, and cash the rules into computerized exchanging frameworks that permit PCs to execute and screen the exchanges to perform back testing, Improving Order Entry Speed and Diversify Trading.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
          <div class="box">
            <span>Strategy Development</span>
            <p><i class="bi bi-check-circle"></i> Having strong goals and objectives will assist with knowing when you should be happy with the trading algo.</p>
            <p><i class="bi bi-check-circle"></i> Know about the market you want to trade.</p>
            <p><i class="bi bi-check-circle"></i> The yearly return and draw down you want.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <span>Auto Buy / Sell signals</span>
            <p>Lets trade quicker and Profitable, Get auto buy and sell signals with best entry and exit levels without any delay. On the basis of moving averages.


            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-3" data-aos="fade-up" data-aos-delay="150">
          <div class="box">
            <span>MQL Development</span>
            <p>We use MetaTrader Software to make automated trading softwares and financial market indicators.</p>
            <p><i class="bi bi-check-circle"></i> Create a custom technical indicator.</p>
            <p><i class="bi bi-check-circle"></i> Get high quality leads with MQL.</p>
            <p><i class="bi bi-check-circle"></i> Tweak an existing indicator.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-3" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <span>API Bridge</span>
            <p>API Bridge is a set of programming interface, pincode and Places is first programming interface right now. APIBridge permits you to algo trade with various stages like Amibroker, MT4, TradingView, Python, Excel, NinjaTrader and so on.</p>
          </div>
        </div>

      </div>

    </div>
  </section>