<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <span>Services</span>
        <h2>Services</h2>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box">
            <div class="icon">
              <img src="./assets/img/serviceIcon/algoTrading.png" class="service-img" />
            </div>
            <h4><a href="">Algo Trading</a></h4>
            <p>We will provide you the best platform for doing Auto Trading with your own 
              Intra day and positional based strategies which will save your money and time
               Controlling your
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
          <div class="icon-box">
            <div class="icon">
              <img src="./assets/img/serviceIcon/autoBuySell.png" class="service-img" />
            </div>
            <h4><a href="">Auto Buy Sell Signal</a></h4>
            <p>You could know precisely when to purchase, hold or sell stocks or commodities. 
              We are providing 100% exact programmed software.Our items have been given Complete Artificial.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <img src="./assets/img/serviceIcon/mqlDev.png" class="service-img" />
            </div>
            <h4><a href="">MQL Developments</a></h4>
            <p>We use MetaTrader Software to make automated trading softwares and financial market indicators.If you are growing.</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon">
              <img src="./assets/img/serviceIcon/apiBridge.png" class="service-img" />
            </div>
            <h4><a href="">API Bridge</a></h4>
            <p>API Bridge is a set of programming interface, pincode and Places is first programming interface. 
              APIBridge permits you to algo trade with various stages like MT4. </p>
          </div>
        </div>
      </div>

    </div>
  </section>