<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Contact</span>
        <h2>Contact</h2>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2Flocation.gif?alt=media&token=ecba9306-0ccc-4502-b443-13e0a75673da" style="height: 5rem;"/>
            <h3>Our Address</h3>
            <p>NEAR ASARFI HOSPITAL, DHANBAD, JH, 826001</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2Femail%20(1).gif?alt=media&token=38619927-35a7-4d10-96d2-907d3f7b2881" style="height: 5rem;"/>
            <h3>Email Us</h3>
            <p>support@almightyalgo.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/fir-project-9afa6.appspot.com/o/Almighty%20Algo%2Fcalling.gif?alt=media&token=5d1a5543-3477-4976-8167-5a9b1d77fad2" style="height: 5rem;"/>
            <h3>Call Us</h3>
            <p>+91 8797 074449</p>
          </div>
        </div>

      </div>

      <div class="row" data-aos="fade-up">

        <div class="col-lg-6 ">
          <!-- <iframe class="mb-4 mb-lg-0" src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe> -->
          <!-- <img class="img-contact" src="https://5.imimg.com/data5/SELLER/Default/2022/9/OL/IV/WY/1600630/call-center-solutions-500x500.jpg" style=" height: 23rem; "/> -->
          <object class="img-contact" data="../../../../assets/img/contact-us.svg" type="image/svg+xml"> </object>

        </div>

        <div class="col-lg-6">
          <div  role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required [(ngModel)]="emailObj.name">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required [(ngModel)]="emailObj.email">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required [(ngModel)]="emailObj.subject">
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required [(ngModel)]="emailObj.message"></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" (click)="sendMail()">Send Message</button></div>
          </div>
        </div>

      </div>

    </div>
  </section>