
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    .img-contact{
        margin-left: 0rem;
    }
}
 
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .img-contact{
        margin-left: 0rem;
    }
}
 
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .img-contact{
        margin-left: 0rem;
    }
}
 
/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
    .img-contact{
        margin-left: 6rem;
    }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    .img-contact{
        margin-left: 6rem;
    }
}

.img-contact{
    height: 25rem;
    top: -10px;
    position: relative;
}

#toast-container > .toast {
    max-width: 1200px;
    width: 90%;
}